.container {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 2%;
}

/* .searchbar:hover .MuiOutlinedInput-notchedOutline {
  border-color: "red";
} */

.Mui-focused {
  border-color: "red";
}
