.side {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
  /* background-color: blue; */
  max-width: 30vw;
  margin-left: 2%;
}

.card {
  margin-top: 10% !important;
}
